@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Spectral:wght@200;400&display=swap");
.bio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}
.bio-section .bio-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.bio-section .bio-content h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}
.bio-section .bio-content p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.bio-section .bio-content .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bio-section .bio-content .btn-container button {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}
.bio-section .bio-content .btn-container button:hover {
  background-color: #1a5276;
}
.bio-section .bio-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
.bio-section .bio-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  max-height: 500px; /* Adjust the maximum height as per your preference */
}
.bio-section .modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.bio-section .modal .modal-content {
  background-color: #fff;
  padding: 15px;
  max-width: 90%;
  margin: 10% auto;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bio-section .modal .modal-content h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}
.bio-section .modal .modal-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.8;
  color: #333;
  margin-bottom: 20px;
}
.bio-section .modal .modal-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  max-height: 400px; /* Adjust the maximum height as per your preference */
  margin-bottom: 20px;
}
.bio-section .modal .modal-content .exitBtn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
}
.bio-section .modal .modal-content .exitBtn:hover {
  background-color: #c0392b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-padding-top: 81px;
}

body {
  position: relative;
  background-color: #FFF;
}

h1 {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  background-color: #fbfbf2;
  margin: 0 auto;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.2);
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  z-index: 1;
}
nav a {
  color: #fff;
}
nav a:hover {
  color: #039dff;
}
nav .nav-link {
  color: #fff;
}
nav .nav-link:hover {
  color: #039dff;
}
nav .fa-bars {
  padding: 10px;
  color: #fff;
}
nav .navbar-brand {
  font-weight: bold;
}
nav .active {
  color: #039dff;
}

header {
  color: #fff;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url(../img/mobile/karaScorpion.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -10;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 10px;
  text-align: center;
  z-index: 5;
}
header .container .hero-text {
  position: relative;
  top: 220px;
}
header .btn-outline-light {
  display: none;
  text-transform: uppercase;
}
header .fa-chevron-down {
  display: none;
  position: absolute;
  bottom: 20px;
  font-size: 36px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #fff;
}

@media (min-width: 768px) {
  header .hero-img .container .hero-text {
    max-width: 450px;
    top: 280px;
  }
  header .hero-img .container .hero-text .description {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
  }
  header .hero-img .container .hero-text .description-name {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
  }
  main .bio-section {
    height: 100vh;
  }
  main .bio-section .bio-content p {
    font-size: 18px;
  }
  main .bio-section .bio-image img {
    max-width: none;
  }
}
@media (min-width: 992px) {
  header .hero-img .container .hero-text {
    top: 100px;
  }
  header .hero-img .container .hero-text .description {
    font-size: 1.1rem;
    line-height: 26px;
    text-transform: none;
  }
  main .bio-section .bio-content {
    max-width: 80%;
    margin: 0 auto;
  }
  main .bio-section .bio-image img {
    max-width: 350px;
  }
  main .modal .modal-content img {
    margin: 20px 0;
  }
  main .modal .modal-content p {
    padding: 0 50px;
  }
}
@media (min-width: 1024px) {
  main .bio-section {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
  }
  main .bio-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .bio-section .container .bio-content {
    position: relative;
    top: 280px;
    height: 280px;
  }
  main .bio-section .container .bio-image {
    padding: 0;
  }
  main .bio-section .container .bio-image img {
    position: relative;
    top: 100px;
    left: 100px;
    max-width: 500px;
  }
}/*# sourceMappingURL=style.css.map */